<a href="https://colab.research.google.com/github/TonyProgramandoAndo/Tareas-semana-03/blob/main/Practica_06_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practica #6. Manejo de libreria Pandas**

Instrucciones: Carga el archivo titanic.csv en la carpeta correspondiente de Google drive para realizar los siguientes ejercicios

In [11]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero.

Calcula la proporción de supervivencia para cada combinación de 'Sex' y 'Pclass'.
 Identifica qué combinación tuvo la tasa de supervivencia más alta.
Identifica qué combinación tuvo la tasa de supervivencia más baja.

In [12]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Programacion /Semana 03/titanic.csv')
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [13]:
# Mostrar las primeras 5 filas
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

In [14]:
# Agrupamos por 'Sex' y 'Pclass'
survival_rate = df.groupby(['Sex', 'Pclass'])['Survived'].mean()

print(survival_rate)

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.137026
Name: Survived, dtype: float64

In [15]:
best_group=survival_rate.idxmax()
best_rate=survival_rate.max()
print('Mejor combinacion:', best_group)
print('Mejor tasa de supervivencia:', best_rate)
worst_group=survival_rate.idxmin()
worst_rate=survival_rate.min()
print('Peor combinacion:', worst_group)
print("Peor tasa de supervivencia:", worst_rate)

Mejor combinacion: ('female', np.int64(1))
Mejor tasa de supervivencia: 0.9680851063829787
Peor combinacion: ('male', np.int64(3))
Peor tasa de supervivencia: 0.13702623906705538

Ejercicio 2: Identificación de familias grandes a bordo.

Crea una nueva columna 'FamilySize' sumando las columnas 'SibSp' y 'Parch'.
Considera como "familia grande" a aquellas donde 'FamilySize' es mayor a 3.

In [16]:
df['FamilySize'] = df[['Siblings/Spouses Aboard', 'Parents/Children Aboard']].sum(axis=1)
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

   FamilySize
0           1
1           1
2           0
3           1
4           0

In [17]:
Familia_grande = df[(df['FamilySize'] > 3)]
print(Familia_grande)
print(Familia_grande.count())

     Survived  Pclass                                               Name  \
7           0       3                      Master. Gosta Leonard Palsson
13          0       3                         Mr. Anders Johan Andersson
16          0       3                                Master. Eugene Rice
24          0       3                       Miss. Torborg Danira Palsson
25          1       3  Mrs. Carl Oscar (Selma Augusta Emilia Johansso...
..        ...     ...                                                ...
820         0       3                        Master. Urho Abraham Panula
842         0       3                            Mr. Douglas Bullen Sage
846         0       3             Master. Sigvard Harald Elias Andersson
859         0       3                           Miss. Dorothy Edith Sage
881         0       3                Mrs. William (Margaret Norton) Rice

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
7      male   2.0                        3                        1  21.0750
13     male  39.0                        1                        5  31.2750
16     male   2.0                        4                        1  29.1250
24   female   8.0                        3                        1  21.0750
25   female  38.0                        1                        5  31.3875
..      ...   ...                      ...                      ...      ...
820    male   2.0                        4                        1  39.6875
842    male  18.0                        8                        2  69.5500
846    male   4.0                        4                        2  31.2750
859  female  14.0                        8                        2  69.5500
881  female  39.0                        0                        5  29.1250

     FamilySize
7             4
13            6
16            5
24            4
25            6
..          ...
820           5
842          10
846           6
859          10
881           5

[62 rows x 9 columns]
Survived                   62
Pclass                     62
Name                       62
Sex                        62
Age                        62
Siblings/Spouses Aboard    62
Parents/Children Aboard    62
Fare                       62
FamilySize                 62
dtype: int64

Calcula el número de pasajeros en familias grandes.
Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes.

In [18]:
total_pasajeros_grandes_familias = len(Familia_grande)
print(total_pasajeros_grandes_familias)

62

In [20]:
# Calculate the proportion of survival among passengers who belong to large families
survival_rate_grandes_familias = df[df['FamilySize'] > 3]['Survived'].mean()
print("Proporción de supervivencia en familias grandes:", survival_rate_grandes_familias)

Proporción de supervivencia en familias grandes: 0.16129032258064516

In [21]:
Menor_de_edad = df[(df['Age'] < 18)]
print(Menor_de_edad)

     Survived  Pclass                                 Name     Sex   Age  \
7           0       3        Master. Gosta Leonard Palsson    male   2.0
9           1       2   Mrs. Nicholas (Adele Achem) Nasser  female  14.0
10          1       3       Miss. Marguerite Rut Sandstrom  female   4.0
14          0       3  Miss. Hulda Amanda Adolfina Vestrom  female  14.0
16          0       3                  Master. Eugene Rice    male   2.0
..        ...     ...                                  ...     ...   ...
849         1       1             Miss. Mary Conover Lines  female  16.0
859         0       3             Miss. Dorothy Edith Sage  female  14.0
865         1       3       Master. Harold Theodor Johnson    male   4.0
871         1       3             Miss. Adele Kiamie Najib  female  15.0
884         0       3       Miss. Catherine Helen Johnston  female   7.0

     Siblings/Spouses Aboard  Parents/Children Aboard     Fare  FamilySize
7                          3                        1  21.0750           4
9                          1                        0  30.0708           1
10                         1                        1  16.7000           2
14                         0                        0   7.8542           0
16                         4                        1  29.1250           5
..                       ...                      ...      ...         ...
849                        0                        1  39.4000           1
859                        8                        2  69.5500          10
865                        1                        1  11.1333           2
871                        0                        0   7.2250           0
884                        1                        2  23.4500           3

[130 rows x 9 columns]

Ejercicio 3: Segmentación por grupos de edad.

Clasifica a los pasajeros en las siguientes categorías de edad(tip puede resultar mas sencillo realizarlo con una función)

Menor de Edad

Mayor de Edad

In [22]:
Mayor_de_edad = df[(df['Age'] >= 18)]
print(Mayor_de_edad)

     Survived  Pclass                                               Name  \
0           0       3                             Mr. Owen Harris Braund
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2           1       3                              Miss. Laina Heikkinen
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4           0       3                            Mr. William Henry Allen
..        ...     ...                                                ...
881         0       3                Mrs. William (Margaret Norton) Rice
882         0       2                               Rev. Juozas Montvila
883         1       1                        Miss. Margaret Edith Graham
885         1       1                               Mr. Karl Howell Behr
886         0       3                                 Mr. Patrick Dooley

        Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
0      male  22.0                        1                        0   7.2500
1    female  38.0                        1                        0  71.2833
2    female  26.0                        0                        0   7.9250
3    female  35.0                        1                        0  53.1000
4      male  35.0                        0                        0   8.0500
..      ...   ...                      ...                      ...      ...
881  female  39.0                        0                        5  29.1250
882    male  27.0                        0                        0  13.0000
883  female  19.0                        0                        0  30.0000
885    male  26.0                        0                        0  30.0000
886    male  32.0                        0                        0   7.7500

     FamilySize
0             1
1             1
2             0
3             1
4             0
..          ...
881           5
882           0
883           0
885           0
886           0

[757 rows x 9 columns]

In [23]:
def segmentar_edad(edad):
    if edad < 18:
        return 'Menor de Edad'
    else:
        return 'Mayor de Edad'
df["segmentoEdad"]=df["Age"].apply(segmentar_edad)
print(df["segmentoEdad"])

0      Mayor de Edad
1      Mayor de Edad
2      Mayor de Edad
3      Mayor de Edad
4      Mayor de Edad
           ...
882    Mayor de Edad
883    Mayor de Edad
884    Menor de Edad
885    Mayor de Edad
886    Mayor de Edad
Name: segmentoEdad, Length: 887, dtype: object

**Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas**

Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos.

Compara estos valores con los promedios obtenidos utilizando los métodos nativos de Pandas.

In [24]:
import numpy as np

# Para el manejo de NaN values con numpy.mean se puede utilizar numpy.nanmean

age_numpy = df['Age'].values
promedio_age_numpy = np.nanmean(age_numpy) # La ventaja de usar nanmean es que se ignoran los valores NaN values

fare_numpy = df['Fare'].values
promedio_fare_numpy = np.nanmean(fare_numpy)


print("Promedio de Age (NumPy):", promedio_age_numpy)
print("Promedio de Fare (NumPy):", promedio_fare_numpy)

Promedio de Age (NumPy): 29.471443066516347
Promedio de Fare (NumPy): 32.30542018038331

In [25]:
promedio_age = df['Age'].mean()
promedio_fare = df['Fare'].mean()

print("Promedio de Age:", promedio_age)
print("Promedio de Fare:", promedio_fare)

Promedio de Age: 29.471443066516347
Promedio de Fare: 32.30542018038331

Los resultados son consistentes con ambas librerias

**Ejercicio 5. Creación de intervalos de clase usando NumPy y análisis con Pandas**

np.linspace() is a NumPy function that creates an array of evenly spaced numbers over a specified interval. You provide the start, stop, and optionally the number of points you want, and linspace will generate that many points distributed equally between the start and stop values. It's often used to create evenly spaced data for plotting or calculations.

Divide la columna 'Fare' en 5 intervalos equidistantes utilizando la función numpy.linspace, el estudiante deberá investigar la operación de esta función en python.

In [27]:
import pandas as pd
import numpy as np

# Define el numero de intervalos
num_intervals = 5

# Con el uso de np.linspace es posible automaticamente determinar los rangos basado en los min y max
fare_bins = np.linspace(df['Fare'].min(), df['Fare'].max() + 0.00001, num_intervals + 1)

# Es posible crear intervalos para la columna Fare con la opcion pd.cut() y usnado la opcion np.linspace()
df['FareInterval_Linspace'] = pd.cut(df['Fare'], bins=fare_bins, include_lowest=True)

# Esta linea calcula la tasa de sobrevivientes por cada intervalo de tarifa
survival_rate_by_fare_interval_linspace = df.groupby('FareInterval_Linspace')['Survived'].mean()

print(survival_rate_by_fare_interval_linspace)

print(df[['Fare', 'FareInterval_Linspace']].head())

FareInterval_Linspace
(-0.001, 102.466]     0.363309
(102.466, 204.932]    0.757576
(204.932, 307.398]    0.647059
(307.398, 409.863]         NaN
(409.863, 512.329]    1.000000
Name: Survived, dtype: float64
      Fare FareInterval_Linspace
0   7.2500     (-0.001, 102.466]
1  71.2833     (-0.001, 102.466]
2   7.9250     (-0.001, 102.466]
3  53.1000     (-0.001, 102.466]
4   8.0500     (-0.001, 102.466]

/tmp/ipython-input-2989209961.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_rate_by_fare_interval_linspace = df.groupby('FareInterval_Linspace')['Survived'].mean()

In [29]:
# Crear 5 intervalos equidistantes de 'Fare'
bins = np.linspace(df['Fare'].min(), df['Fare'].max(), 6)

# Clasificar a los pasajeros en esos intervalos
df['Fare_interval'] = pd.cut(df['Fare'], bins=bins)

print(df[['Fare', 'Fare_interval']].head())

      Fare   Fare_interval
0   7.2500  (0.0, 102.466]
1  71.2833  (0.0, 102.466]
2   7.9250  (0.0, 102.466]
3  53.1000  (0.0, 102.466]
4   8.0500  (0.0, 102.466]

In [30]:
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

   FamilySize   segmentoEdad FareInterval_Linspace   Fare_interval
0           1  Mayor de Edad     (-0.001, 102.466]  (0.0, 102.466]
1           1  Mayor de Edad     (-0.001, 102.466]  (0.0, 102.466]
2           0  Mayor de Edad     (-0.001, 102.466]  (0.0, 102.466]
3           1  Mayor de Edad     (-0.001, 102.466]  (0.0, 102.466]
4           0  Mayor de Edad     (-0.001, 102.466]  (0.0, 102.466]

In [35]:
# Agrupar por intervalos de tarifa
resumen = df.groupby('Fare_interval')['Survived'].agg(
    pasajeros='count',      # número de pasajeros por intervalo
    proporcion_supervivencia='mean' # proporción de sobrevivientes
)

print(resumen)

                    pasajeros  proporcion_supervivencia
Fare_interval
(0.0, 102.466]            819                  0.368742
(102.466, 204.932]         33                  0.757576
(204.932, 307.398]         17                  0.647059
(307.398, 409.863]          0                       NaN
(409.863, 512.329]          3                  1.000000

/tmp/ipython-input-2935680237.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  resumen = df.groupby('Fare_interval')['Survived'].agg(

In [36]:
# Agrupar por intervalos de tarifa
resumen = df.groupby('FareInterval_Linspace')['Survived'].agg(
    pasajeros='count',       # número de pasajeros por intervalo
    proporcion_supervivencia='mean'  # proporción de sobrevivientes
)

print(resumen)

                       pasajeros  proporcion_supervivencia
FareInterval_Linspace
(-0.001, 102.466]            834                  0.363309
(102.466, 204.932]            33                  0.757576
(204.932, 307.398]            17                  0.647059
(307.398, 409.863]             0                       NaN
(409.863, 512.329]             3                  1.000000

/tmp/ipython-input-3857201543.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  resumen = df.groupby('FareInterval_Linspace')['Survived'].agg(

In [37]:
# Número de pasajeros que sobrevivieron
num_supervivientes = df['Survived'].sum()
print(num_supervivientes)

342